@import 'settings';
@import 'find-window';

$errorColor: #a94442;
$red: #E74C3C;
$green : #1ABB9C;
$yellow: #f8e43d;

.profile_info {
  float: none;
  padding-left: 15px;
}

#sidebar-menu {
	.menu_section{
		.side-menu {
			& > li > a:first-child {

				&:hover{
					//background-color: green;
				  background: linear-gradient(#334556, #2C4257), #2A3F54;
				  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
				  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
				  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;

				}
			}
		}
	}
	li{
		&:hover{
	
			}
	}
	a{
		cursor: pointer;
		&:hover{
			
		}
	}
}

#menu_toggle{
	cursor:pointer;
}

.nav.side-menu> li.current-page, .nav.side-menu> li.active {
  border-right: none;
}

.x_title h2 {
	float:none;
	span{
		float:right;
	}
}

select[multiple], select[size] {
  height: auto;
  min-height: 150px;
}

.paginator {
	float:right;
	.disabled{ display:none; }
	p{
		text-align: right;
	}
}

textarea.form-control{
	line-height: 15px;
}

.form-error {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  color: $errorColor;
}

.form-error {
  border-radius: 0;
  line-height: 30px;
  width: 100%;
}

.has-error{
  color: $errorColor;	
}

.login_content {

  padding: 0px 0 0;
  h1{
  	margin-bottom:10px;
  }

}

#breadCrumbs{
	margin-bottom: 0px;
}
#selectStatus{
	    &.status1{ background-color: $red; color:white;    }
	    &.status2{ background-color:  $yellow; }
	    &.status3{ background-color: white; color:$green; }
	    &.status4{ background-color: $green; color:white; }

}
#status, .status {
	cursor:pointer;
	a{
		display: inline-block;
		border-radius: 12px;
		width: 12px;
		height:12px;
	    background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
	    cursor: pointer;
	    margin-right: 2px;
	 
	    &.red{

			background-color: desaturate( $red, 60% );
			&.active, &:hover{
				background-color: $red;

			}
	    }
	    &.yellow{
			background-color: desaturate( $yellow, 60% );
	    	&.active, &:hover{
	    		background-color: $yellow;
			}
	    }
	    &.green{
			background-color: #a6c1ba;
	    	&.active, &:hover{
	    		background-color: $green;
				
			}
	    }
	    &.green-circle{
	    	border: solid 2px #a6c1ba;
			background-color: #a6c1ba;
	    	&.active, &:hover{
	    		border: solid 2px #36a53b;
	    		background-color:  #00ff0c;
				
			}
	    }

	}

}



body.nav-md .container.body .right_col {
    padding-bottom: 60px; 

}

#product-index{

	td.image-cell{
		padding:0px;
		img{
			//width:100%;
			//margin: 0 auto;  
		}
	}
}




hr.mini{

  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #ccc;

}

.fa-button{
	margin-left: 10px;
	:hover{
	opacity: .8;
	}
}



.table{
	td{
		width:auto;
	}
}

textarea.form-control {
  height: 200px;
}

.thumbnail {
	height: auto;

	.image {
    	height: auto;
    	margin-bottom: 5px;

    	img{
    		width:100%;
    	}

	}
	.tools{
		text-align: right;
	}
}



#menus-create, #menus-create-2{
	td{
		vertical-align: center;
		small{
			font-size: 8px;
		}
		a{
			text-decoration: underline;
		}
	}
	td.span, span{
		line-height: 18px;
		width: 60px;
		display: inline-block;
		text-align: center;
	}

	tr{
		&.level0{ background-color: #cfcfcf; }
		&.level1{ background-color: lighten(#b8b8b8, 20%); }
		&.level2{ background-color: #F7F7F7 }
		&.level3{ background-color: white; }
	}
	$levelIndent : 30px;
	$actionIndent: 10px;
	.level0{ padding-left: 0px;  
		.actions{
			padding-left: $actionIndent * 0;			
			}
	}
	.level1{ padding-left: $levelIndent;  
		.actions{
			padding-left: $actionIndent * 1;			
			}
	}
	.level2{ padding-left: $levelIndent * 2;  
		.actions{
			padding-left: $actionIndent * 2;			
			}
	}
	.level3{ padding-left: $levelIndent * 3; } 
		.actions{
			padding-left: $actionIndent * 3;			
		} 
	.fa{
		margin-right: 5px;
	}
}

#editor, #full-editor{
	border:solid 2px gray;
	background-color: white;
	height:400px;
}
.message{
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 10px 20px;	
}
.message-comfirm{
	position: fixed;
	top: 12px;
	left: 50%;
	width: 150px;
	margin-left: -75px;
	padding: 10px 20px;	
	text-align: center;
}
.message, .message-comfirm{
	
	&.success{
		background-color: #5cb85c;
		color:white;
			
	}

	&.error{
		background-color: #D33C40;
		color:white;
	}

}


.nav>li>a {
    position: relative;
    display: block;
    padding: 13px 15px 7px;
    font-size: 13px;
    &:hover{
    	text-decoration: underline;
    }
}

.button-helpers{
	.btn,.input-group{
		margin-bottom: 0px;
	}
}
.btn-mute{
	background-color: #73879C;
	color:white;
}
.btn-copy{
	//display: block;
	//margin: 10px auto 0px auto;
	margin-left: 10px;
	float: right;
	background-color: #73879C;
	color:white;
	padding: 2px 5px;
	font-size: 10px;
}

tr.status1{
	td { opacity:.2; }
	&:hover{
		td.status{
			opacity: 1;
		}
	}
}


